body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.body {
  flex: 1;
}

.main-image {
  width: 300px;
  height: auto;
}

.item-image {
  width: 100px;
  height: 100px;
}
